
@{
    ViewBag.Title = "HW2";
}

<p>印出1-10</p>

@for (int i = 0; i <= 10; i++)
{
    <p>@i</p>
}



<h2>HW2 @DateTime.Now</h2>
<p>姓名:@Html.TextBox("name")</p>

<p>帳號:@Html.TextBox("account")</p>

<p>密碼:@Html.Password("password")</p>

<p>
    性別:
    @Html.RadioButton("gender", "A")男性
    @Html.RadioButton("gender", "B")女性
</p>
<p>
    興趣:
    @Html.CheckBox("reading", "R")閱讀
    @Html.CheckBox("swimming", "S")游泳

<p>
    自我介紹:
    @Html.TextArea("about")
</p>

